<h1>Events</h1>
<h1>{{title}}</h1>
<p>Welcome to Events {{title}}</p>
<main>
    <h2>Some text here</h2>

    {{#each events}}
    <div class="donut-container">
        <img src="{{img}}" />

        <h3>
            <a href="/{{_id}}">
                {{name}}
            </a>
        </h3>

        <p>{{date}}</p>
        <p>{{time}}</p>
        <p>{{type}}</p>
        <p>{{equipment}}</p>
        <button>Edit Event</button>



    </div>
    {{/each}}
    <br>
    <br>
<button>Create New Event</button>
</main>