<main>

  <h2>Edit User Profile</h2>

    <form action="/users/{{user._id}}?_method=PATCH" method="POST">
      <div>
        <label for="name">name: </label>
        <input type="text" name="name" value="{{user.name}}">
      </div>
      <div>
        <label for="password">password: </label>
        <input type="text" password="password" value="{{user.password}}">
      </div>
      <div>
        <label for="email">email: </label>
        <input type="text" name="email" value="{{user.email}}">
      </div>

      <div>
        <label for="image">img: </label>
        <input type="text" name='image' value="{{user.image}}">
      </div>

      <button type="submit">Edit Profile</button>
    </form>
<br>

    <form action="/users/{{users._id}}?_method=DELETE" method="POST">
      <button type="submit">Delete Profile</button>
    </form>



</main>