<main>

  <h2>Edit User Profile</h2>

  <a href="/">🏠</a>

  <div id="edit-form" class="user-container-show">

    <form action="/users/{{user._id}}" method="PATCH">
      <div>
        <label for="username">username: </label>
        <input type="text" username="username" value="{{user.username}}">
      </div>
      <div>
        <label for="password">password: </label>
        <input type="text" password="password" value="{{user.password}}">
      </div>
      <div>
        <label for="email">email: </label>
        <input type="text" name="email" value="{{user.email}}">
      </div>

      <div>
        <label for="image">img: </label>
        <input type="text" name='image' value="{{user.image}}">
      </div>

      <button type="submit">Edit Profile</button>
    </form>
<br>

    <form action="/users/new" method="DELETE">
      <button type="submit">Delete Profile</button>
    </form>



  </div>
</main>