<h1>{{title}}</h1>
<main>
<div>
</div>
  
    {{#each users}}

        <h3>
            
                            <a href="/users/{{this._id}}">
                {{name}}
                                {{!-- <img src="{{this.img}}" alt=""> --}}

            </a>
        </h3>





    {{/each}}
<h2>Sign In</h2>
<form action="/users{{users_id}}" method="POST" class="auth-form">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign In</button>
</form>
<br>
<br>

	<h2>New to PicList?</h2>
<a href="/users/new/"><button>Sign Up</button></a> 

</main>
    
