<h1>Welcome To Your Profile {{user.email}}</h1>

<br>

<main>
<h3>Your upcoming events:</h3>


<br>
{{user.email}}
{{user.events}}
    <form action="/users/{{user._id}}/edit" method="PATCH">

       <button> Edit Profile</button> 
</form>
  <form action="/events/{{event._id}}/edit" method="PATCH">
    <button>Edit Event</button>
</form>

    <br>
    <br>
 <a href="/events/new"> <button>Add New Event</button></a>
		</div>


</main>